.smartdoc {
border-color: #B0B0B0;
border-style: solid;
border-width: 0px 1px 1px 1px;
}

/* The header section which contains menu and title */
.smartdoc-header {
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #777777;
  font: bold 14px Verdana;
  text-align: center;
  padding : 2px;
}

/* The split panel containing tree and node's content */
.smartdoc-HSPanel {
 
} 

/* The split panel's splitter  */
.smartdoc-HSPanel .hsplitter {
   background: #8A8A8A;
   background-color: #8A8A8A;
     border-width                :   1px;
    /* Pretty much everything */
    cursor                      :    e-resize;

     /* IE6, IE7, FF2, Safari Win */
    cursor                      :    col-resize;
}

/* A top level panel containing Tab and TabBottom */
.smartdoc-tabpanel {
}

.smartdoc-tab .gwt-TabBarFirst {
 display : none;
}

.smartdoc-tab .gwt-TabBarRest {
   background : #8A8A8A; 
 
}

.smartdoc-tab .gwt-TabBarItem {
 padding: 3px 6px 3px 6px;
 border: 1px solid #B0B0B0;
 background: #8A8A8A;
 background-color: #8A8A8A;
 cursor: hand;
 color : #E1E1E1;
 font: bold 14px Verdana;
  
}
.smartdoc-tab .gwt-TabBarItem-selected {
  padding: 3px 6px 3px 6px;
  background: #FFFFFF;
  border: none;
  color : #000000;
  
}

.smartdoc-tab .gwt-TabPanelBottom {
height: 100%;
width: 100%;
}

/* The tree in a Tab */
.smartdoc-tree {
 
 }
.smartdoc-tree .gwt-TreeItem {
  cursor: hand;
  cursor: pointer;
 }
.smartdoc-tree .gwt-TreeItem-selected {
  color : #E1E1E1;
  background: #8A8A8A;
  background-color: #8A8A8A;
}
/* The node content */
.smartdoc-data {
}

.smartdoc-menu  {
  cursor: hand;
  cursor: pointer;
  background: #FFFFFF;
  border : 1px solid #777777;
  
}

.smartdoc-menu .gwt-MenuItem {
  white-space: nowrap ;
  font: menu ;
}

.smartdoc-menu .gwt-MenuItem-disabled {
  white-space: nowrap ;
  font: menu ;
  cursor : default;
  color : #C1C1C1;
}
 
.smartdoc-menu .gwt-MenuItem-selected {
  background-color: #E1E1E1;
}



.smartdoc-menu .gwt-MenuItemSeparator .menuSeparatorInner {
  height: 1px;
  padding: 0px;
  border: 0px;
  border-top: 1px solid #777777;
  background: #ddddee;
  overflow: hidden;

}

.smartdoc-dialog , .smartdoc-input-dialog {
  border :  1px solid #777777;
  background-color: #FFFFFF;
}

.smartdoc-dialog .dialogContent, .smartdoc-input-dialog .dialogContent {
  padding: 0px;
  height : 100%;
}

.smartdoc-dialog .Caption , .smartdoc-dialog .dialogTopCenter ,
.smartdoc-input-dialog .Caption , .smartdoc-input-dialog .dialogTopCenter
 {
   padding: 0px;
  cursor: hand;
  cursor: pointer;
  height : 1%;
  background-color: #E1E1E1;
}

/* End of Default  SmartDoc CSS */

